.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.content {
  width: 90%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 500;

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.info {
  text-align: start;
  display: grid;
  width: 70%;
}

.intro {
  font-size: medium;
  text-align: justify;
  width: 95%;
  @media (max-width: 600px) {
    text-align: center;
  }
}
