.container {
  padding: 25px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.no-projects {
  color: var(--mat-sys-error);
  text-align: center;
  font-size: large;
  margin-top: 12.5%;
}

.card {
  min-height: 230px;

  mat-card-actions {
    position: absolute;
    bottom: 0;
  }

  p {
    display: flex;
    justify-content: space-between;
  }

  .stars {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    margin-right: 3.5%;
  }
}
